{% extends 'projetPhotoCycloPhotoBundle:Default:header.html.twig' %}

{% block content %}
    <header class="prime">
        <div class="wrapper">
            <div id="title">
                <h1>Gardez un souvenir de vos courses</h1>

                <h2>Vos photos se trouvent ici !</h2>
            </div>
        </div>
    </header>
	<div id="content">
      <div class="wrapper">
        <div class="blockinfo">
          <h2><i class="fa fa-book"></i> Présentation</h2>

            <p>Ce site vous permet de retrouver et d'acheter simplement les photos prisent lors de vos courses
                cyclistes. Vous pouvez accéder à toutes vos photo en
                cliquant sur le lien qui vous sera envoyé par mail.</p>
        </div>
        <div class="blockinfo">
          <h2><i class="fa fa-folder-open"></i> Rapide</h2>
          <p>Voluptatibus, aut esse optio omnis non exercitationem dicta! At, accusantium molestiae rerum laboriosam atque adipisci mollitia ex voluptate quo quia. Ex, distinctio debitis temporibus quod quaerat tempore maxime error officiis!</p>
        </div>
        <div class="blockinfo">
          <h2><i class="fa fa-bullhorn"></i> Du principe</h2>
          <p>Qui, magnam, ipsam, distinctio amet neque voluptatum doloribus dolorem ex doloremque tempore atque odio cum perferendis hic sunt nulla aut. Nostrum, labore, ex consectetur illo quasi reprehenderit hic eius voluptatum.</p>
        </div>
        <div class="blockinfo">
          <h2>Du site</h2>
          <p>Provident, iusto, ducimus, exercitationem nisi quidem facere fugiat tempora magnam sit assumenda quasi autem minus blanditiis expedita iure pariatur quibusdam enim nostrum veniam soluta! Quisquam, laborum nobis deserunt molestiae velit.</p>
        </div>
      </div>
    </div>
{% endblock %}