{% extends '::base.html.twig' %}

{% block header %}
    <nav id="header">
        <div class="wrapper">
            <div id="logo">
                <h1><a href="{{ path('projet_photo_cyclo_photo_homepage') }}"><span>Cyclo</span>Photos</a></h1>
            </div>
            <ul>
                <li><a href="">Inscription</a></li>
                <li><a href="">Connexion</a></li>
                <li>
                    <a href="">Test</a>
                    <ul class="dropmenu">
                        <li><a href="">Test</a></li>
                        <li><a href="">Test 2</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('projet_photo_cyclo_photo_panier') }}"><i class="fa fa-shopping-cart"></i>
                        Panier</a>
                    <ul class="dropmenu">
                        <li><a href="">Test</a></li>
                        <li><a href="">Test 2 carrément beaucoup plus long</a></li>
                    </ul>
                </li>
            </ul>
            <select id="mobilenav" name="url">
                <option>Menu</option>
                <option value="/test">test</option>
                <option value="/test">test trop bien</option>
                <option value="/test">test</option>
            </select>
        </div>
    </nav>

    {% block content %} {% endblock %}
{% endblock %}