{% extends '::header.html.twig' %}

{% block content %}
    <div id="content">
        <div class="wrapper">
            <h1>Nouvelle course</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('admin_course') }}">
                Retour à la liste
            </a>
        </li>
    </ul>
        </div>
    </div>
{% endblock %}
