{% extends '::header.html.twig' %}
{% block title %}Administration - Courses{% endblock %}
{% block main_title %}
    <header>
        <div class="wrapper">
            <h1 class="title">Ajouter une course</h1>
        </div>
    </header>
{% endblock %}
{% block content %}
    <div id="content">
        <div class="wrapper">

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('admin_course') }}">
                Retour à la liste
            </a>
        </li>
    </ul>
        </div>
    </div>
{% endblock %}
