{% extends '::header.html.twig' %}
{% block title %}{{ parent() }} - Vos photos{% endblock %}
{% block main_title %}
    <header>
        <div class="wrapper">
            <h1 class="title"><i class="fa fa-photo"></i> Vos photos disponibles</h1>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div id="content">
        <div class="wrapper">
            <div class="photos">
                <div class="photo">
                    <a href="#"><img src="http://lorempicsum.com/simpsons/250/200/1"></a>

                    <div class="add"><a href="">Ajouter au panier</a></div>
                </div>

                <div class="photo">
                    <a href="#"><img src="http://lorempicsum.com/simpsons/250/200/1"></a>

                    <div class="add"><a href="">Ajouter au panier</a></div>
                </div>

                <div class="photo">
                    <a href="#"><img src="http://lorempicsum.com/simpsons/250/200/1"></a>

                    <div class="add"><a href="">Ajouter au panier</a></div>
                </div>

                <div class="photo">
                    <a href="#"><img src="http://lorempicsum.com/simpsons/250/200/1"></a>

                    <div class="add"><a href="">Ajouter au panier</a></div>
                </div>

                <div class="photo">
                    <a href="#"><img src="http://lorempicsum.com/simpsons/250/200/1"></a>

                    <div class="add"><a href="">Ajouter au panier</a></div>
                </div>

                <div class="photo">
                    <a href="#"><img src="http://lorempicsum.com/simpsons/250/200/1"></a>

                    <div class="add"><a href="">Ajouter au panier</a></div>
                </div>

                <div class="photo">
                    <a href="#"><img src="http://lorempicsum.com/simpsons/250/200/1"></a>

                    <div class="add"><a href="">Ajouter au panier</a></div>
                </div>

                <div class="photo">
                    <a href="#"><img src="http://lorempicsum.com/simpsons/250/200/1"></a>

                    <div class="add"><a href="">Ajouter au panier</a></div>
                </div>

                <div class="photo">
                    <a href="#"><img src="http://lorempicsum.com/simpsons/250/200/1"></a>

                    <div class="add"><a href="">Ajouter au panier</a></div>
                </div>

                <div class="photo">
                    <a href="#"><img src="http://lorempicsum.com/simpsons/250/200/1"></a>

                    <div class="add"><a href="">Ajouter au panier</a></div>
                </div>

                <div class="photo">
                    <a href="#"><img src="http://lorempicsum.com/simpsons/250/200/1"></a>

                    <div class="add"><a href="">Ajouter au panier</a></div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}