{% extends '::header.html.twig' %}
{% block title %}Administration - Photos{% endblock %}
{% block main_title %}
    <header>
        <div class="wrapper">
            <h1 class="title">Editer une photo</h1>
        </div>
    </header>
{% endblock %}
{% block content %}
    <div id="content">
        <div class="wrapper">
    {{ form(edit_form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('admin_photo') }}">
                Back to the list
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
        </div>
    </div>
{% endblock %}
