{% extends '::header.html.twig' %}
{% block title %}Administration - Photos{% endblock %}
{% block main_title %}
    <header>
        <div class="wrapper">
            <h1 class="title">Ajouter des photos</h1>
        </div>
    </header>
{% endblock %}
{% block content %}
    <div id="content">
        <div class="wrapper">

    {{ form(form) }}


            <a class="button" href="{{ path('admin_photo') }}">
                Revenir à la liste
            </a>
        </div>
    </div>
{% endblock %}
